PROSTHETIC_PG_HOST=localhost
PROSTHETIC_PG_PORT=5433
PROSTHETIC_PG_DB=keycloak_db
PROSTHETIC_PG_USER=keycloak_user
PROSTHETIC_PG_PASSWORD=keycloak_password

PROSTHETIC_CLICKHOUSE_URL=http://localhost:8123
PROSTHETIC_HTTP_TIMEOUT_SEC=10
